html, body{
	font: 400 15px/1.8 "Lato", sans-serif;
	margin: 0;	
	height: 100%;
	background-attachment: fixed;		
}

body:before{
	position: fixed;
	z-index: -10; 
}

.topbackground, .aboutbackground, .projectbackground, .contactbackground{
  background-attachment: fixed;  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;  
  min-height: 100%;   
}

.topbackground{
  background-image: url("parallax3.jpg");    
}

.aboutbackground{
	background-image: url("parallax4.jpg");       
}

.projectbackground{
	background-image: url("parallax2.jpg");            
}

.contactbackground{
  background-image: url("parallax1.jpg"); 
}

.div2, .div3, .div4{
	background-color: #FFFFFF;
	margin: 10px;
	text-align: center;	
	font-size: 32px;
}

.top, .about, .projects{
	left: 0;	
	text-align: center;	
	color: #FFFFFF;	
  padding: 20px;
  font-size: 32px;
  text-shadow: 2px 2px #000;
}

.top{	
  padding-top: 10%;
	text-shadow: 1px 1px 1px #FFF, 6px 6px 3px #000;
}

.contact{
  color: #FFFFFF;  
  padding: 20px;
  font-size: 18px;
  text-shadow: 2px 2px #000; 
}

p{
  line-height: 130%;
}

a{
	color: white;
}

.btn{
  display: flex;
  align-items: center;
  justify-content: center;
}

.projectsinfo{
  display: flex;
  align-items: center;
  justify-content: center;	
  font-size: 18px;
}

.projectsimg{
	width: 80%;
	height: auto;
}

.introbtn{
  background-color: rgba(0,0,0,0.6);
  width: 200px;
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  text-shadow: 3px 3px 5px #000;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 3px 3px 5px #000:;
}