body {
  margin: 0;
  background-image: url('./assets/body_bkground.png');
  background-size: cover;
  padding: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}